/* Switch component */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    border: 1px solid var(--gray-600);
    transition: .4s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: " ";
    width: 20px;
    height: 20px;
    left: 3px;
    bottom: 50%;
    transform: translate(0, 50%);
    background-color: var(--white);
    transition: .4s;
    border-radius: 20px;
    font-family: "bootstrap-icons";
    font-size: 10px;
}

input:checked+.slider::before {
    transform: translate(22px, 50%) rotate(360deg);
}

.slider::before {
    content: "\F1D1";
    color: var(--black);
}

input:checked+.slider::before {
    content: "\F495";
    color: white;
    background-color: var(--black);
}